/* CSS declarations go here */
.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
}

.action-btn {
	width: 100%;
	max-width: 100%;
	height: 60px;
	font-size: x-large;
}

.selectbutton {
	width: 100%;
}

.login-link-and-dropdown-list > a {
	color: #ffffff;
}

.btn-group {
	width: 100%;
}